*
{
    margin: 0;
    padding: 0;
}
.bottom
{ margin: 0 auto; 
    padding-top: 5px;
     height: 1000px; 
     background: blue;
     box-sizing:
     border-box;
 }
 .content
  { 
    margin: auto; 
    width: 10px;
    perspective: 1000px; 
    position: relative; 
    padding-top: 80px; }
 .bottom 
 { 
    width:100%; 
    position: absolute; 
    float: center; 
    animation: rotar 12s infinite linear;
    transform-style: preserve-3d; } 
.bottom:hover
{ 
    animation-play-state: paused;
    cursor: pointer;
    } 
.bottom figure 
{ 
    width: 150%; 
    height: 1000px; 
    border: 1px  solid #4d444d; 
    border-radius: 29px;
    overflow: hidden; 
    position: absolute; 
} 
.bottom figure:nth-child(1)
{ 
    transform: rotateY(0deg) translateZ(300px);

}
.bottom  figure:nth-child(2)
{
    transform: rotateY(40deg) translateZ(300px);

}
.bottom figure:nth-child(3)
{
    transform: rotateY(80deg) translateZ(300px);    

}
.bottom figure:nth-child(4)
{
    transform: rotateY(120deg) translateZ(300px);

}
.bottom figure:nth-child(5)
{
    transform: rotateY(160deg) translateZ(300px);
}
.bottom figure:nth-child(6)
{
    transform: rotateY(200deg) translateZ(300px);

}
.bottom figure:nth-child(7)
{
    transform: rotateY(240deg) translateZ(300px);

}
.shadow
{
    position: absolute;
    box-shadow: 0px 0px 200px 0px #000;
    border-radius: 2px
}
.bottom img
{
    image-rendering: auto;
    transition: all 900ms;
    width: 100%
    height:100%;
}
.bottom img:hover
{
  transform:scale(1.2);
  transition: all 300ms;
}
@keyframes rotar 
{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}









































